:root{
    font-size: 100%;
    --primary-color: #fff;
    --secondary-color: #030303;
}

*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    overflow: hidden;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

nav div{
    height: 2rem;
    display: flex;
    align-items: center;
}

.menu-logo{
    flex: 1;
}
.menu-logo img{
    height: 100%;
}

.menu a, .menu-icons a{
    padding: 0 1rem;
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.2rem;
}
    
.menu-icons img{
    height: 1.3rem;
}

.menu{
    display: none;
}

.mobile-nav_checkbox{
    display: none;
}

.mobile-nav_checkbox:checked ~ .menu{
    display: flex;
}

.mobile-nav_label{
    padding: 0 1rem;
}

.mobile-nav_icon{
    display: inline-block;
    position: relative;
    width: 2rem;
    height: 2px;
    background-color: var(--primary-color);
}

.mobile-nav_icon::before, .mobile-nav_icon::after{
    display: inline-block;
    content: '';
    width: 2rem;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
}

.mobile-nav_icon::before{
    top: -0.5rem;
}

.mobile-nav_icon::after{
    top: 0.5rem;
}

@media screen and (min-width: 980px){
    .mobile-nav_label{
        display: none;
    }

    nav{
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
    }
    
    nav div{
        height: 2rem;
        display: flex;
        align-items: center;
    }
    
    .menu a, .menu-icons a{
        padding: 0 1rem;
        color: var(--primary-color);
        text-decoration: none;
        font-size: 1.2rem;
    }
    
    .menu-icons img{
        height: 1.3rem;
    }
    
    section{
        flex: 1;
        display: flex;
        justify-content: space-between;
    }
    
    .card{
        width: 33%;
        height: 100%;
        overflow: hidden;
    }
    
    .card img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
}