@primary-color: #fff;
@secondary-color: #000;

@font-face {
    font-family: 'kanit-bold';
    src: url('assets/fonts/kanit-bold.woff') format('woff'),
         url('assets/fonts/kanit-bold.woff2') format('woff2');
}

@font-face {
    font-family: 'kanit-semibold';
    src: url('assets/fonts/kanit-semibold.woff') format('woff'),
         url('assets/fonts/kanit-semibold.woff2') format('woff2');
}

@keyframes leftslide {
    0%{
        transform: translateX(calc(100% + 0.5vw));
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes rightslide {
    0%{
        transform: translateX(calc(-100% - 0.5vw));
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes extendpicture {
    0%{
        width: 0%;        
    }
    100%{
        width: 33%;
    }
}

@keyframes titleanim{
    0%{
        opacity: 0;
        transform: scale(0.5);
    }
    95%{
        transform: scale(1.05);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }   
}

@keyframes tovisible{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

:root{
    font-size: 100%;
}

*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

svg{
    fill: @primary-color;
    height: 2rem;
}

body{
    background-color: @secondary-color;
    color: @primary-color;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    overflow: hidden;
    font-family: 'kanit-semibold';	
}

nav{
    display: flex;
    justify-content: space-between;

    .checkbox{
        display: none;

        &:checked{
            ~ .menu{
                opacity: 1;
                transform: translate(0);                
            }

            + .button{
                .button__icon{
                    background-color: transparent;

                    &::before{
                        top: 0;
                        transform: rotate(135deg);
                    }

                    &::after{
                        top: 0;
                        transform: rotate(-135deg);
                    }
                }
            }
        }
    }

    .button{
        order: 5;
        display: flex;
        align-items: center;
        
        animation: tovisible 1.5s linear 2.5s backwards;

        &__icon{
            margin: auto 0.5rem;
            width: 2rem;
            height: 4px;
            border-radius: 2px;
            background-color: @primary-color;
            position: relative;

            &::before, &::after{
                content: '';
                width: 2rem;
                height: 4px;
                border-radius: 2px;
                background-color: @primary-color;
                position: absolute;
                left: 0;
                transition: all 0.4s;
            }

            &::before{
                top: -0.7rem;
            }

            &::after{
                top: 0.7rem;
            }
        }        
    }

    .menu{
        display: flex;
        flex-direction: column;                
        width: calc(100% - 3rem);
        background-color: @secondary-color;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        transform: translate(-100%);
        transition: transform 0.4s ease-in-out;
        
        a{
            padding: 1rem;
            font-size: 1.5rem;                    
            text-decoration: none;
            color: @primary-color;
        }
    }

    .logo{
        font-family: 'Times New Roman', Times, serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0.5rem;

        animation: tovisible 1.5s linear 2s backwards;

        span:first-child{
            font-size: 2.5rem;
        }
    }

    .menu-icons{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        animation: tovisible 1.5s linear 2.5s backwards;

        a{
            padding: 0.5rem;
            margin: auto 0.5rem;
        }
    }
}

header{
    margin-top: 2rem;
    text-align: center;
    font-family: 'kanit-bold';

    h1, h2{
        font-size: 7vw;
    }

    h1{
        animation: titleanim 0.8s ease-in 0s backwards;
    }

    h2{
        color:  transparent;
        -webkit-text-stroke: 0.24vw @primary-color;
        animation: titleanim 0.8s ease-in 0.6s backwards;
    }
}


section{
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;

    .card{
        width: 33%;
        
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            pointer-events: none;
            overflow: hidden;
        }

        &:first-child{
            animation: leftslide 1.5s ease-out 2.8s backwards; //délai 1.2s
        }

        &:nth-child(2){
            z-index: 10;
            animation: extendpicture 1s ease-in 2s backwards; //délai 0.4s
        }

        &:last-child{
            animation: rightslide 1.5s ease-out 2.8s backwards; ////délai 1.2s
        }
    }
}

@media screen and (max-width: 380px) {
    svg{
        height: 1.5rem
    }

    nav{
        .menu-icons{
            a{
                margin: auto 0.2rem;
            }
        }
    }
}

@media screen and (min-width: 980px) {
    svg{
        height: 1.2rem
    }

    nav{
        .button{
            display: none;
        }
    
        .menu{
            position: static;
            flex-direction: row;                
            width: 40%;
            transform: translate(0);
            transition: none;

            animation: tovisible 1.5s linear 2.5s backwards;
            
            a{
                font-size: 1.2rem;                 
            }
        }
    
        .logo{
            padding:  0.5rem;
        }
    
        .menu-icons{
            width: 40%;
            align-items: start;

            a{
                margin-top: 0.5rem
            }
        }
    }
}